.blog-container {
  padding: 90px 0;
  background: $secondaryColor;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__aside {
    width: 30%;
    .about {
      background: white;
      padding: 38px;
      margin-bottom: 15px;
      &__heading {
        @include heading-text(24);
        margin: 30px 0;
      }
      &__text {
        margin: 0;
      }
      &__link {
        @include body-text(20);
        text-transform: none;
        letter-spacing: normal;
        font-weight: 700;
        color: $tertiaryColorDark;
      }
    }
    .recent-posts {
      background: white;
      padding: 38px;
      &__heading {
        @include heading-text(24);
        margin-bottom: 30px;
      }
      &__item {
        list-style: inside;
      }
      &__link {
        @include body-text(20);
        text-transform: none;
      }
    }
  }
  &__main {
    width: 66.66%;
    .featured-post {
      background: white;
      padding: 38px;
      margin-bottom: 30px;
      border-bottom: 5px solid $tertiaryColorDark;
      &__heading {
        @include heading-text(32);
      }
    }
    .comments {
      &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 38px;
        background: white;
      }
      &__container:first-child {
        margin-bottom: 20px;
      }
      &__container:last-child {
        border-bottom: 5px solid $tertiaryColorDark;
        margin-bottom: 30px;
      }
      &__avatar {
        width: 12%;
      }
      &__post {
        width: 86%;
      }
      &__date, &__text {
        margin: 0;
      }
    }
    .reply {
      &__form {
        display: flex;
        flex-direction: column;
      }
      &__form-top {
        display: flex;
        justify-content: space-between;
      }
      &__name, &__email, &__comment {
        @include body-text(20);
        border: none;
        &::placeholder {
          color: $primaryColor;
          opacity: 1;
        }
      }
      &__name, &__email {
        width: 49%;
        padding: 30px 38px;
      }
      &__comment {
        padding: 38px;
        margin: 20px 0;
        height: 300px;
      }
    }
  }
}

