.secondary-header {
  height: 50vh;
  background: url(../assets/blog-image-1.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__heading {
    @include heading-text-large(80);
    margin: 0;
    position: relative;
    bottom: -30px;
    z-index: 100;
  }
  @media (max-width: 768px) {
    height: 25vh;
  }
}