
// BASE STYLING
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.gallery-container {
  display: flex;
  .gallery-upper-image,
  .gallery-upper-content,
  .gallery-lower-image,
  .gallery-lower-content {
    width: 50%;
  }
  .gallery-upper-content-wrapper,
  .gallery-lower-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 75%;
  }
}
.gallery-container-lower {
  flex-direction: row-reverse;
}





// MAYBE?

.gallery {
  border: 1px solid red;
  // position: relative;
}

.gallery-upper-image {
  // position: relative;
}

img {
  display: block;
  max-width: 100%;
  position: relative;
  z-index: 200;
}




// 1ST SOLUTION

// .gallery::before,
// .gallery::after {
//   content: "";
//   position: absolute;
//   // height: 50%;
//   // width: 50%;
//   background: green;
// }

// .gallery::before {
//   left: 0;
//   right: 45%;
//   top: 50px;
//   bottom: 50%;
//   z-index: 100;
// }

// .gallery::after {

// }





// 2ND SOLUTION

.gallery-upper-image {
  position: relative;
}

// .gallery-upper-image::after {
//   content: "";
//   // height: 100%;
//   // width: 100%;
//   background: dodgerblue;
//   position: absolute;
//   right: 48%;
//   // right: 0;
//   left: 0;
//   top: 20px;
//   bottom: 48%;
// }

// .gallery-upper-image {
//   box-shadow: 500px 100px red;
// }


// 3RD SOLUTION

// .gallery-upper-image::after {
//   content: "";
//   // height: 100%;
//   // width: 100%;
//   background: dodgerblue;
//   position: absolute;
//   right: -20px;
//   // right: 0;
//   left: 0;
//   top: 20px;
//   bottom: -20px;
// }

.gallery-container-upper {
  position: relative;
  border: 1px solid blue;
}

.gallery-upper-image {
  position: absolute;
  box-shadow: 20px 20px red;
  top: -20px;
}

.gallery-upper-image::after {
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: -50px 20px blue; 
}

// .gallery-container-upper::after {
//   content: "";
//   background: red;
//   position: absolute;
//   right: 50%;
//   top: 20px;
//   bottom: 50%;
//   left: 0;
// }

.gallery-container-upper {
  box-shadow: -20px 20px red;
}