.header {
  background: linear-gradient(to bottom, $tertiaryColorLight 0%,$tertiaryColorLight calc(100% - 50px), $secondaryColor calc(100% - 50px), $secondaryColor 100%);
  &__main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__image-container {
    flex: 0 0 500px;
    // flex: 1 0 auto;
  }
  &__image {
    box-shadow: 20px 20px white;
  }
  &__content-container {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    width: 53%;
  }
  &__heading-large {
    @include heading-text-large(80);
    position: relative;
  }
  &__accent {
    position: absolute;
    width: 35%;
    right: -30px;
    top: -30px;
  }
}

.navigation {
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
  }
  &__link--active {
    color: $secondaryColor;
  }
}

.about {
  background: $secondaryColor;
  padding: 50px 0 100px 0;
  .wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &__content {
    width: 53%;
  }
  &__heading {
    @include heading-text(42);
  }
}