.header {
  background: $tertiaryColorLight;
  .wrapper {
    // padding-top: 25px;
  }
  &__main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__image-container {
    flex: 0 0 40%;
  }
  &__image {
    box-shadow: 20px 20px white;
    position: relative;
    z-index: 100;
    bottom: -65px;
  }
  &__content-container {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    width: 53%;
  }
  &__heading-large {
    @include heading-text-large(150);
    position: relative;
  }
  &__accent {
    position: absolute;
    right: -55px;
    top: -90px;
  }
}

.navigation {
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 0 auto;
  }
  &__link--active {
    color: $secondaryColor;
  }
}