.header {
  background: $tertiaryColorLight;
  &__main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__image-container {
    flex: 0 0 40%;
  }
  &__image {
    box-shadow: 20px 20px white;
    position: relative;
    z-index: 100;
    bottom: -65px;
  }
  &__content-container {
    display: flex;
    align-items: center;
    // flex: 0 1 auto;
    width: 53%;
  }
  &__heading-large {
    @include heading-text-large(150);
    position: relative;
  }
  &__heading-large::after {
    content: "";
    width: 182px;
    height: 172px;
    position: absolute;
    background: url(../assets/circle-text.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -90px;
    right: -55px;
    display: inline-block;
  }
  @media (max-width: 1084px) {
    &__heading-large {
      @include heading-text-large(120);
    }
    &__heading-large::after {
      width: (182px * 0.8);
      height: (172px * 0.8);
      top: -65px;
      right: -40px;
    }
  }
  @media (max-width: 890px) {
    &__heading-large {
      @include heading-text-large(100);
    }
    &__heading-large::after {
      width: (182px * 0.8 * 0.8);
      height: (172px * 0.8 * 0.8);
      top: -45px;
      right: -35px;
    }
  }
  @media (max-width: 768px) {
    height: 90vh;
    background: linear-gradient(rgba(33,33,33,0.2), rgba(33,33,33,0.2)), url(../assets/home-image-1.jpg);
    background-position: center top;
    background-size: cover;
    &__main-container {
      justify-content: flex-end;  
    }
    &__content-container {
      width: 90%;
      margin: 0 auto;
      justify-content: flex-end;
    }
    &__image-container {
      display: none;
    }
    &__heading-large {
      color: $secondaryColor;
    }
  }
  @media (max-width: 480px) {
    &__content-container {
      justify-content: center;
    }
    &__heading-large {
      @include heading-text-large(80);
      color: $secondaryColor;
    }
    &__heading-large::after {
      width: (182px * 0.8 * 0.8 * 0.8);
      height: (172px * 0.8 * 0.8 * 0.8);
      top: -30px;
      right: -25px;
    }
  }
}