.additional {
  padding-top: 150px;
  padding-bottom: 90px;
  background: $secondaryColor;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__image-container {
    width: calc((100% / 3 ) - 20px);
  }
  &__image {
    box-shadow: 20px 20px $tertiaryColorDark;
  }
  &__content-container {
    width: calc((100% / 3) * 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__heading {
    @include heading-text(42);
  }
  &__text {
    margin: 0;
    position: relative;
    bottom: -10px;
  }
  &__button {
    position: relative;
    bottom: -20px;
  }
  @media (max-width: 1286px) {
    &__content-container {
      margin-left: 40px;
    }
  }
  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 70px;
    .wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__image-container {
      width: 50%;
    }
    &__content-container {
      width: 100%;
      padding-top: 60px;
      margin-left: 0;
    }
  }
}