.gallery {
  padding: 90px 0;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 31.25%;
  }
  @media (max-width: 768px) {
    padding: 50px 0;
  }
  @media (max-width: 500px) {
    &__item {
      width: 48%;
    }
    &__item:last-child {
      display: none;
    }
  }
}