.extra-links {
  background: $secondaryColor;
  padding: 100px 0 150px 0;
  @media (max-width:768px) {
    padding: 70px 0 70px 0;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__item {
    width: 50%;
    margin-bottom: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  &__link-container {
    display: flex;
    align-items: center;
  }
  &__icon {
    background: $tertiaryColorLight;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link-text {
    @include heading-text(32);
    margin-left: 20px;
  }
  &__text {
    margin: 20px 0 0 70px;
    width: calc(100% - 70px);
  }
  @media (max-width: 768px) {
    padding: 50px 0;
    &__menu {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}