.header {
  background: $tertiaryColorLight;
  .wrapper {
    // border: 1px solid red;
  }
  &__main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__image-container {
    flex: 0 0 40%;
  }
  &__image {
    box-shadow: 20px 20px white;
    position: relative;
    z-index: 100;
    bottom: -65px;
  }
  &__content-container {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    width: 53%;
  }
  &__heading-large {
    @include heading-text-large(150);
    position: relative;
    @media (max-width: 1084px) {
      @include heading-text-large(120);
    }
    @media (max-width: 890px) {
      @include heading-text-large(100);
    }
  }
  &__accent {
    position: absolute;
    right: -55px;
    top: -90px;
    border: 1px solid red;
    @media (max-width: 1084px) {
      width: 40%;
      top: -75px;
    }
    @media (max-width: 890px) {
      width: 35%;
      top: -50px;
      right: -35px;
    }
  }
}

.navigation {
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    margin: 0 25px;
  }
  &__link--active {
    color: $secondaryColor;
  }
}