.about {
  background: $secondaryColor;
  padding: 100px 0;
  position: relative;
  margin-bottom: 500px;
  .wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &__content {
    width: 53%;
  }
  &__heading {
    @include heading-text(42);
  }
  &::after {
    content: "";
    position: absolute;
    background: url(../assets/home-image-2.jpg);
    background-position: center;
    background-size: cover;
    left: 0;
    right: 0;
    bottom: -500px;
    height: 500px;
  }
  @media (max-width: 768px) {
    margin-bottom: 300px;
    padding: 120px 0 50px 0;
    .wrapper {
      display: block;
    }
    &__content {
      width: 100%;
    }
    &::after {
      bottom: -300px;
      height: 300px;
    }
  }
}