.blog {
  padding-bottom: 10px;
  &__container {
    display: flex;
    @media (max-width: 768px) {
      display: block;
    }
  }
  &__container-lower {
    flex-direction: row-reverse;
  }
  &__cell {
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &__image-upper {
    box-shadow: 20px 20px $tertiaryColor, -200px 20px $tertiaryColor;
    position: relative;
    top: -45px;
    left: -10px;
  }
  &__image-lower {
    box-shadow: 20px 20px $tertiaryColorLight, 200px 20px $tertiaryColorLight;
    position: relative;
    bottom: -45px;
    left: -10px;
  }
  &__content-upper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 25px 110px;
  }
  &__content-lower {
    padding: 45px 110px 0 0;
    display: flex;
    flex-direction: column;
  }
  &__heading-lower {
    @media (max-width: 768px) {
      padding-top: 70px;
    }
  }
  &__button-lower {
    align-self: flex-end;
    @media (max-width: 768px) {
      margin-bottom: 70px;
    }
  }
  &__heading {
    @include heading-text(32);
  }
}