.blog {
  padding-bottom: 10px;
  &__container {
    display: flex;
  }
  &__container-lower {
    flex-direction: row-reverse;
  }
  &__cell {
    width: 50%;
  }
  &__image-upper {
    box-shadow: 20px 20px $tertiaryColor, -200px 20px $tertiaryColor;
    position: relative;
    top: -45px;
    left: -10px;
  }
  &__image-lower {
    box-shadow: 20px 20px $tertiaryColorLight, 200px 20px $tertiaryColorLight;
    position: relative;
    bottom: -45px;
    left: -10px;
  }
  &__content-upper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 25px 110px;
  }
  &__content-lower {
    padding: 45px 110px 0 0;
    display: flex;
    flex-direction: column;
  }
  &__button-lower {
    align-self: flex-end;
  }
  &__heading {
    @include heading-text(32);
  }
  @media (max-width: 1100px) {
    &__content {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media (max-width: 768px) {
    &__container {
      display: block;
    }
    &__cell {
      width: 100%;
    }
    &__heading-lower {
      padding-top: 70px;
    }
    &__button-lower {
      margin-bottom: 40px;
    }
    &__content-upper {
      padding: 35px 0 25px 110px;
    }
  }
  @media (max-width: 500px) {
    &__content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}