.nav {
  background: $tertiaryColorLight;
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    margin: 0 25px;
  }
  &__link--active {
    color: $secondaryColor;
  }
  &__toggle-input {
    display: none;
  }
  &__toggle-label {
    display: none;
  }
  &__mobile-menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    right: -1000px;
    background: $tertiaryColor;
    z-index: 200;
    display: none;
    transition: right 0.3s, color 0.3s;
  }
  &__mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
  }
  &__mobile-item {
    margin-bottom: 75px;
  }
  &__mobile-link {
    @include menu-text(40);
    margin: 0;
    &:hover {
      @include menu-text-hover($accentColor);
    }
  }
  &__mobile-social-menu {
    display: flex;
    justify-content: space-between;
    width: 250px;
  }
  &__mobile-social-icon {
    font-size: 3rem;
  }
  @media (max-width: 768px) {
    position: static;
    &__menu {
      display: none;
    }
    &__toggle-label {
      display: block;
      position: absolute;
      z-index: 300;
      font-size: 3rem;
      top: 20px;
      left: 20px;
    }
    &__mobile-menu-container {
      z-index: 200;
      display: block;
      position: fixed;
    }
    &__toggle-label--main-page {
      color: $secondaryColor;
    }
    &__toggle-input:checked ~ &__mobile-menu-container {
      transition: right 0.3s, color 0.3s;
      right: 0;
    }
    &__toggle-input:checked + &__toggle-label {
      position: fixed;
      color: $primaryColor;
    }
  }
  @media (max-width: 480px) {
    &__mobile-menu {
      margin-top: 55px;
    }
    &__mobile-link {
      font-size: 3.2rem;
    }
    &__mobile-social-icon {
      font-size: 2.5rem;
    }
  }
}

