$primaryColor: rgb(23,23,23);
$accentColor: rgb(243,141,141);
$greyBlue: rgb(104,176,193);
$duskBlue: rgb(34,114,132);
$lightGreyBlue: rgb(185,221,231);
$whiteShade: rgb(246,246,246);

@mixin heading-text-main($fontSize) {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 92px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: ($fontSize * 10) + px;
  font-size: $fontSize + rem;
}

@mixin heading-text($fontSize) {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: ($fontSize * 10) + px;
  font-size: $fontSize + rem; 
}

@mixin menu-text($fontSize) {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: right;
  line-height: 29px;
  letter-spacing: 1px;
  font-size: ($fontSize * 10) + px;
  font-size: $fontSize + rem;
}

@mixin button-text($fontSize) {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  font-size: ($fontSize * 10) + px;
  font-size: $fontSize + rem;
}

@mixin body-text($fontSize) {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: ($fontSize * 10) + px;
  font-size: $fontSize + rem;
}

h1 {
  @include heading-text-main(8);
}