$primaryColor: rgb(23,23,23);
$secondaryColor: rgb(246,246,246);
$tertiaryColor: rgb(104,176,193);
$tertiaryColorLight: rgb(185,221,231);
$tertiaryColorDark: rgb(34,114,132);
$accentColor: rgb(243,141,141);

@mixin heading-text-large($fontSize) {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 92px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $primaryColor;
  font-size: $fontSize * 1px;
  font-size: ($fontSize/10) * 1rem;
}

@mixin heading-text($fontSize) {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $primaryColor;
  font-size: $fontSize * 1px;
  font-size: ($fontSize/10) * 1rem; 
}

@mixin menu-text($fontSize) {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: right;
  line-height: 29px;
  letter-spacing: 1px;
  color: $primaryColor;
  font-size: $fontSize * 1px;
  font-size: ($fontSize/10) * 1rem;
}

@mixin button-text($fontSize) {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  color: $primaryColor;
  background: $accentColor;
  font-size: $fontSize * 1px;
  font-size: ($fontSize/10) * 1rem;
}

@mixin body-text($fontSize) {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 32px;
  color: $primaryColor;
  font-size: $fontSize * 1px;
  font-size: ($fontSize/10) * 1rem;
}

a {
  @include menu-text(20);
  text-transform: uppercase;
  text-decoration: none;
}

button, [type="submit"] {
  @include button-text(20);
}

p {
  @include body-text(20);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.blog__image {
  box-shadow: 20px 20px $tertiaryColorLight, -150px 20px $tertiaryColorLight;
}
