article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

img {
  max-width: 100%;
  display: block; }

a {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: right;
  line-height: 29px;
  letter-spacing: 1px;
  color: #171717;
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none; }

button, [type="submit"] {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  padding: 10px 25px;
  color: #171717;
  background: #f38d8d;
  font-size: 20px;
  font-size: 2rem; }

p {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 32px;
  color: #171717;
  font-size: 20px;
  font-size: 2rem; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.header {
  background: #b9dde7; }
  .header .wrapper {
    padding-top: 25px; }
  .header__main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header__image-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%; }
  .header__image {
    -webkit-box-shadow: 20px 20px white;
    box-shadow: 20px 20px white;
    position: relative;
    z-index: 100;
    bottom: -65px; }
  .header__content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 53%; }
  .header__heading-large {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #171717;
    font-size: 150px;
    font-size: 15rem;
    position: relative; }
  .header__accent {
    position: absolute;
    right: -55px;
    top: -90px; }

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
  margin: 0 auto; }

.navigation__link--active {
  color: #f6f6f6; }

.about {
  background: #f6f6f6;
  padding: 100px 0;
  position: relative; }
  .about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .about__content {
    width: 53%; }
  .about__heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    color: #171717;
    font-size: 42px;
    font-size: 4.2rem; }

.extra-links {
  background: #f6f6f6;
  padding: 100px 0 150px 0; }
  .extra-links__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .extra-links__item {
    width: 50%;
    margin-bottom: 60px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .extra-links__link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .extra-links__icon {
    background: #b9dde7;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .extra-links__link-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    color: #171717;
    font-size: 32px;
    font-size: 3.2rem;
    margin-left: 20px; }
  .extra-links__text {
    margin: 20px 0 0 70px;
    width: calc(100% - 70px); }

.blog {
  padding-bottom: 10px; }
  .blog__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .blog__container-lower {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .blog__cell {
    width: 50%; }
  .blog__image-upper {
    -webkit-box-shadow: 20px 20px #68b0c1, -200px 20px #68b0c1;
    box-shadow: 20px 20px #68b0c1, -200px 20px #68b0c1;
    position: relative;
    top: -45px;
    left: -10px; }
  .blog__image-lower {
    -webkit-box-shadow: 20px 20px #b9dde7, 200px 20px #b9dde7;
    box-shadow: 20px 20px #b9dde7, 200px 20px #b9dde7;
    position: relative;
    bottom: -45px;
    left: -10px; }
  .blog__content-upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 0 25px 110px; }
  .blog__content-lower {
    padding: 45px 110px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .blog__button-lower {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .blog__heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    color: #171717;
    font-size: 32px;
    font-size: 3.2rem; }

.additional {
  padding-top: 150px;
  padding-bottom: 90px;
  background: #f6f6f6; }
  .additional .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .additional__image-container {
    width: calc((100% / 3 ) - 20px); }
  .additional__image {
    -webkit-box-shadow: 20px 20px #227284;
    box-shadow: 20px 20px #227284; }
  .additional__content-container {
    width: calc((100% / 3) * 2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .additional__heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    color: #171717;
    font-size: 42px;
    font-size: 4.2rem; }
  .additional__text {
    margin: 0;
    position: relative;
    bottom: -10px; }
  .additional__button {
    position: relative;
    bottom: -20px; }
