article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

img {
  max-width: 100%;
  display: block; }

a {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: right;
  line-height: 29px;
  letter-spacing: 1px;
  color: #171717;
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none; }

button, [type="submit"] {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  padding: 10px 25px;
  color: #171717;
  background: #f38d8d;
  font-size: 20px;
  font-size: 2rem; }

p {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 32px;
  color: #171717;
  font-size: 20px;
  font-size: 2rem; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.header {
  background: #b9dde7; }
  .header__main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header__image-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%; }
  .header__image {
    -webkit-box-shadow: 20px 20px white;
    box-shadow: 20px 20px white;
    position: relative;
    z-index: 100;
    bottom: -65px; }
  .header__content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 53%; }
  .header__heading-large {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #171717;
    font-size: 150px;
    font-size: 15rem;
    position: relative; }
  .header__heading-large::after {
    content: "";
    width: 182px;
    height: 172px;
    position: absolute;
    background: url(../assets/circle-text.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -90px;
    right: -55px;
    display: inline-block; }
  @media (max-width: 1084px) {
    .header__heading-large {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      line-height: 92px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #171717;
      font-size: 120px;
      font-size: 12rem; }
    .header__heading-large::after {
      width: 145.6px;
      height: 137.6px;
      top: -65px;
      right: -40px; } }
  @media (max-width: 890px) {
    .header__heading-large {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      line-height: 92px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #171717;
      font-size: 100px;
      font-size: 10rem; }
    .header__heading-large::after {
      width: 116.48px;
      height: 110.08px;
      top: -45px;
      right: -35px; } }
  @media (max-width: 768px) {
    .header {
      height: 90vh;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0.2)), to(rgba(33, 33, 33, 0.2))), url(../assets/home-image-1.jpg);
      background: -webkit-linear-gradient(rgba(33, 33, 33, 0.2), rgba(33, 33, 33, 0.2)), url(../assets/home-image-1.jpg);
      background: -o-linear-gradient(rgba(33, 33, 33, 0.2), rgba(33, 33, 33, 0.2)), url(../assets/home-image-1.jpg);
      background: linear-gradient(rgba(33, 33, 33, 0.2), rgba(33, 33, 33, 0.2)), url(../assets/home-image-1.jpg);
      background-position: center top;
      background-size: cover; }
      .header__main-container {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
      .header__content-container {
        width: 90%;
        margin: 0 auto;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
      .header__image-container {
        display: none; }
      .header__heading-large {
        color: #f6f6f6; } }
  @media (max-width: 480px) {
    .header__heading-large {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      line-height: 92px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #171717;
      font-size: 80px;
      font-size: 8rem;
      color: #f6f6f6; }
    .header__heading-large::after {
      width: 93.184px;
      height: 88.064px;
      top: -30px;
      right: -25px; } }

.nav {
  background: #b9dde7; }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__item {
    margin: 0 25px; }
  .nav__link--active {
    color: #f6f6f6; }
  .nav__toggle-input {
    display: none; }
  .nav__toggle-label {
    display: none; }
  .nav__mobile-menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    right: -1000px;
    background: #68b0c1;
    z-index: 200;
    display: none;
    -webkit-transition: right 0.3s, color 0.3s;
    -o-transition: right 0.3s, color 0.3s;
    transition: right 0.3s, color 0.3s; }
  .nav__mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 100px; }
  .nav__mobile-item {
    margin-bottom: 75px; }
  .nav__mobile-link {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: right;
    line-height: 29px;
    letter-spacing: 1px;
    color: #171717;
    font-size: 40px;
    font-size: 4rem;
    margin: 0; }
  .nav__mobile-social-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 250px; }
  .nav__mobile-social-icon {
    font-size: 3rem; }
  @media (max-width: 768px) {
    .nav__menu {
      display: none; }
    .nav__toggle-label {
      display: block;
      position: absolute;
      z-index: 300;
      font-size: 3rem;
      top: 20px;
      left: 20px; }
    .nav__mobile-menu-container {
      z-index: 200;
      display: block;
      position: fixed; }
    .nav__toggle-label--main-page {
      color: #f6f6f6; }
    .nav__toggle-input:checked ~ .nav__mobile-menu-container {
      -webkit-transition: right 0.3s, color 0.3s;
      -o-transition: right 0.3s, color 0.3s;
      transition: right 0.3s, color 0.3s;
      right: 0; }
    .nav__toggle-input:checked + .nav__toggle-label {
      position: fixed;
      color: #171717; } }
  @media (max-width: 480px) {
    .nav__mobile-menu {
      margin-top: 55px; }
    .nav__mobile-link {
      font-size: 3.2rem; }
    .nav__mobile-social-icon {
      font-size: 2.5rem; } }

.about {
  background: #f6f6f6;
  padding: 100px 0;
  position: relative;
  margin-bottom: 500px; }
  .about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .about__content {
    width: 53%; }
  .about__heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    color: #171717;
    font-size: 42px;
    font-size: 4.2rem; }
  .about::after {
    content: "";
    position: absolute;
    background: url(../assets/home-image-2.jpg);
    background-position: center;
    background-size: cover;
    left: 0;
    right: 0;
    bottom: -500px;
    height: 500px; }
  @media (max-width: 768px) {
    .about {
      margin-bottom: 300px;
      padding: 50px 0; }
      .about .wrapper {
        display: block; }
      .about__content {
        width: 100%; }
      .about::after {
        bottom: -300px;
        height: 300px; } }

.extra-links {
  background: #f6f6f6;
  padding: 100px 0 150px 0; }
  @media (max-width: 768px) {
    .extra-links {
      padding: 70px 0 70px 0; } }
  .extra-links__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .extra-links__item {
    width: 50%;
    margin-bottom: 60px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .extra-links__link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .extra-links__icon {
    background: #b9dde7;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .extra-links__link-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    color: #171717;
    font-size: 32px;
    font-size: 3.2rem;
    margin-left: 20px; }
  .extra-links__text {
    margin: 20px 0 0 70px;
    width: calc(100% - 70px); }
  @media (max-width: 768px) {
    .extra-links {
      padding: 50px 0; }
      .extra-links__menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .extra-links__item {
        width: 100%;
        margin-bottom: 30px; } }
  @media (max-width: 500px) {
    .extra-links__text {
      display: none; } }

.blog {
  padding-bottom: 10px; }
  .blog__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .blog__container-lower {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .blog__cell {
    width: 50%; }
  .blog__image-upper {
    -webkit-box-shadow: 20px 20px #68b0c1, -200px 20px #68b0c1;
    box-shadow: 20px 20px #68b0c1, -200px 20px #68b0c1;
    position: relative;
    top: -45px;
    left: -10px; }
  .blog__image-lower {
    -webkit-box-shadow: 20px 20px #b9dde7, 200px 20px #b9dde7;
    box-shadow: 20px 20px #b9dde7, 200px 20px #b9dde7;
    position: relative;
    bottom: -45px;
    left: -10px; }
  .blog__content-upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 0 25px 110px; }
  .blog__content-lower {
    padding: 45px 110px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .blog__button-lower {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .blog__heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    color: #171717;
    font-size: 32px;
    font-size: 3.2rem; }
  @media (max-width: 1100px) {
    .blog__content {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 768px) {
    .blog__container {
      display: block; }
    .blog__cell {
      width: 100%; }
    .blog__heading-lower {
      padding-top: 70px; }
    .blog__button-lower {
      margin-bottom: 40px; }
    .blog__content-upper {
      padding: 35px 0 25px 110px; } }
  @media (max-width: 500px) {
    .blog__content {
      padding-left: 0;
      padding-right: 0; } }

.additional {
  padding-top: 150px;
  padding-bottom: 90px;
  background: #f6f6f6; }
  .additional .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .additional__image-container {
    width: calc((100% / 3 ) - 20px); }
  .additional__image {
    -webkit-box-shadow: 20px 20px #227284;
    box-shadow: 20px 20px #227284; }
  .additional__content-container {
    width: calc((100% / 3) * 2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .additional__heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    color: #171717;
    font-size: 42px;
    font-size: 4.2rem; }
  .additional__text {
    margin: 0;
    position: relative;
    bottom: -10px; }
  .additional__button {
    position: relative;
    bottom: -20px; }
  @media (max-width: 1286px) {
    .additional__content-container {
      margin-left: 40px; } }
  @media (max-width: 768px) {
    .additional {
      padding-top: 50px;
      padding-bottom: 70px; }
      .additional .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .additional__image-container {
        width: 50%; }
      .additional__content-container {
        width: 100%;
        padding-top: 60px;
        margin-left: 0; } }
  @media (max-width: 480px) {
    .additional__image-container {
      width: 100%; } }

.gallery {
  padding: 90px 0; }
  .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .gallery__item {
    width: 31.25%; }
  @media (max-width: 768px) {
    .gallery {
      padding: 50px 0; } }
  @media (max-width: 480px) {
    .gallery__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .gallery__item {
      width: 100%;
      margin-bottom: 15px; }
    .gallery__item:last-child {
      margin-bottom: 0; } }

.footer {
  background: #171717; }
  .footer__text {
    color: #f6f6f6;
    margin: 0;
    padding: 6px 0;
    text-align: center; }

.secondary-header {
  height: 50vh;
  background: url(../assets/blog-image-1.jpg);
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .secondary-header__heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #171717;
    font-size: 80px;
    font-size: 8rem;
    margin: 0;
    position: relative;
    bottom: -30px;
    z-index: 100; }
  @media (max-width: 768px) {
    .secondary-header {
      height: 25vh; } }

.blog-container {
  padding: 90px 0;
  background: #f6f6f6; }
  .blog-container .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .blog-container__aside {
    width: 30%; }
    .blog-container__aside .about {
      background: white;
      padding: 38px;
      margin-bottom: 15px; }
      .blog-container__aside .about__heading {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
        color: #171717;
        font-size: 24px;
        font-size: 2.4rem;
        margin: 30px 0; }
      .blog-container__aside .about__text {
        margin: 0; }
      .blog-container__aside .about__link {
        font-family: 'Cabin', sans-serif;
        font-weight: 400;
        line-height: 32px;
        color: #171717;
        font-size: 20px;
        font-size: 2rem;
        text-transform: none;
        letter-spacing: normal;
        font-weight: 700;
        color: #227284; }
      .blog-container__aside .about::after {
        display: none; }
    .blog-container__aside .recent-posts {
      background: white;
      padding: 38px; }
      .blog-container__aside .recent-posts__heading {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
        color: #171717;
        font-size: 24px;
        font-size: 2.4rem;
        margin-bottom: 30px; }
      .blog-container__aside .recent-posts__item {
        list-style: inside; }
      .blog-container__aside .recent-posts__link {
        font-family: 'Cabin', sans-serif;
        font-weight: 400;
        line-height: 32px;
        color: #171717;
        font-size: 20px;
        font-size: 2rem;
        text-transform: none; }
  .blog-container__main {
    width: 66.66%; }
    .blog-container__main .featured-post {
      background: white;
      padding: 38px;
      margin-bottom: 30px;
      border-bottom: 5px solid #227284; }
      .blog-container__main .featured-post__heading {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
        color: #171717;
        font-size: 32px;
        font-size: 3.2rem; }
    .blog-container__main .comments__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      padding: 38px;
      background: white; }
    .blog-container__main .comments__container:first-child {
      margin-bottom: 20px; }
    .blog-container__main .comments__container:last-child {
      border-bottom: 5px solid #227284;
      margin-bottom: 30px; }
    .blog-container__main .comments__avatar {
      width: 12%; }
    .blog-container__main .comments__post {
      width: 86%; }
    .blog-container__main .comments__date, .blog-container__main .comments__text {
      margin: 0; }
  @media (max-width: 768px) {
    .blog-container {
      padding: 50px 0; }
      .blog-container .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
      .blog-container__aside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 100%; }
        .blog-container__aside .about {
          width: 40%; }
        .blog-container__aside .recent-posts {
          width: 55%; }
      .blog-container__main {
        width: 100%;
        margin-bottom: 50px; } }
  @media (max-width: 480px) {
    .blog-container .featured-post, .blog-container .comments__container {
      padding: 20px; }
    .blog-container__aside {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .blog-container__aside .about {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .blog-container__aside .about, .blog-container__aside .recent-posts {
        width: 100%;
        padding: 20px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .form__name, .form__email, .form__comment, .form__message {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    line-height: 32px;
    color: #171717;
    font-size: 20px;
    font-size: 2rem;
    border: none; }
    .form__name::-webkit-input-placeholder, .form__email::-webkit-input-placeholder, .form__comment::-webkit-input-placeholder, .form__message::-webkit-input-placeholder {
      color: #171717;
      opacity: 1; }
    .form__name:-ms-input-placeholder, .form__email:-ms-input-placeholder, .form__comment:-ms-input-placeholder, .form__message:-ms-input-placeholder {
      color: #171717;
      opacity: 1; }
    .form__name::-ms-input-placeholder, .form__email::-ms-input-placeholder, .form__comment::-ms-input-placeholder, .form__message::-ms-input-placeholder {
      color: #171717;
      opacity: 1; }
    .form__name::placeholder, .form__email::placeholder, .form__comment::placeholder, .form__message::placeholder {
      color: #171717;
      opacity: 1; }
  .form__name, .form__email {
    width: 49%;
    padding: 30px 38px; }
  .form__comment, .form__message {
    padding: 38px;
    margin: 20px 0;
    height: 300px;
    resize: none; }
  @media (max-width: 480px) {
    .form__top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .form__name, .form__email {
      width: 100%; }
    .form__name {
      margin-bottom: 20px; }
    .form__name, .form__email, .form__comment, .form__message {
      padding: 20px; } }

.contact-header {
  background: url(../assets/contact-image-1.jpg);
  background-position: bottom; }

.contact {
  padding: 90px 0;
  background: #f6f6f6; }
  .contact .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

.sidebar {
  width: 30%;
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: white; }
  .sidebar .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 66.66%; }
    .sidebar .socials__icon {
      font-size: 3rem;
      color: #227284; }
  .sidebar .contact-info__item:first-child {
    margin: 25px 0; }
  .sidebar .contact-info__email {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    color: #171717;
    font-size: 24px;
    font-size: 2.4rem;
    text-transform: none; }
  .sidebar .contact-info__phone, .sidebar .contact-info__address {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    line-height: 32px;
    color: #171717;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    text-transform: none; }
  .sidebar .contact-info__city-prov, .sidebar .contact-info__postal-code {
    margin: 0; }
  .sidebar .contact-info__item--mobile {
    display: none; }

.contact-main {
  width: 66.66%; }
  @media (max-width: 480px) {
    .contact-main .form__top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .contact-main .form__name, .contact-main .form__email {
      width: 100%; }
    .contact-main .form__name {
      margin-bottom: 20px; } }
